.header-container {
    /*background-color: #ea0e33;*/
    background-color: black;
    height: 6rem;
    margin-bottom: 2rem;
}

.logo {
    /*font-size: 4rem;
    color: white;*/
    width: 4.8rem;
    height: 4.8rem;
}

.title {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    margin-top: .5rem;
}

.button-salir {
    margin-top: 1.5rem;
    font-weight: bold !important;
    font-size: 1.3rem !important;
}