.sidebar {
    /*background-color: #ede1e5;*/
    height: 100vh;
    margin-right: 2rem;
    padding-top: 1rem;
}

.icon {
    font-size: 2rem;
    color: black;
}

.text {
    font-size: 1.5rem;
    color: black;
    padding-left: 1rem;
}

.active {
    font-weight: bold;
}