.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-total-credentials {
    width: 25rem;
    border-radius: 1.5rem !important;
    padding: 1rem 1rem;
}

.icon-credentials {
    font-size: 5rem;
    margin-left: 2rem;
}

.card-porcentaje-organization {
    border-radius: 1.5rem !important;
    padding: 1rem 1rem;
}

.title-card-porcentaje-organization {
    text-align: center;
}